body {
    color: white;
    background: rgb(0, 0, 0);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;

}
heard {
    border-bottom: solid 2px;
    padding: 20px;
    font-size: 32px;
    color: rgb(245, 248, 251);
}

.chamada {
    background: rgb(184,156,213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
    .chamada-texto {
        margin-right: 5%s; 
    }

    h1{
        font-size: 35px;
    }

    p {
        font-size: 15px;
    }
    
    .categoria-videos {
        display: flex;
        overflow-x: auto;
        gap: 10px;
    }


    .categoria {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 50px;
    }

    .categoria-videos img {
        opacity: 0.5;
        height: 200px; 
    }

    .categoria-videos img:hover{
        opacity: 1.0;
        border: 1px solid purple;
    }

    .categoria h2 {
        color: rgb(245, 248, 251);
    }

